:root {
    --main-color: #3498db;
}
body {
    margin: 0;
    padding-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
#header{
    background: #f0f2f5;
    height: 59PX;
    text-align: center;
    border-right: 1px solid #d1d7db;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 15px;

}
#footer{
    background: #f0f2f5;
}

#formDiv{
    display: flex;
    align-items: center;
}
#form {
    background: #f0f2f5;
    padding: 0.25rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    flex :1;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 8px;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

.sendbutton{
    color:#54656f;
    border:none;
}


.chatMessage {
    word-wrap: break-word;
}

.speech-bubble {
    position: relative;
    background-color: #fff;
    /* color: #fff; */
    padding: 10px;
    border-radius: 10px;
    margin: 1% 2%;
    /* max-width: 70%; */
    width: max-content;
}

.speech-bubble-alt {
    position: relative;
    background-color: #d9fdd3;
    padding: 10px;
    border-radius: 10px;
    margin: 1% 2%;
    /* max-width: 70%; */
    width: max-content;
    margin-left: auto;
}

.speech-bubble::before {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #f5f5f5;
    border-color: #fff transparent transparent transparent;

    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
    left: -15px;
    bottom: 0;
}

.speech-bubble-alt::after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #f5f5f5;
    border-color: #d9fdd3 transparent transparent transparent;

    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
    bottom: 0;
    left: 100%;
    transform: scaleX(-1) rotate(145deg);

}

#messages {
    overflow-y: auto;
    flex: 1;
    overflow-x: hidden;
}

.connection {
    margin: auto;
    width: max-content;
    border-radius: 7.5px;
    margin-top: 5px;
    padding: 5px 12px 6px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    background-color: hsla(0,0%,100%,0.95);
}
#container {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}
#emptyBox{
    flex: 1;
    background: #f0f2f5;
}
#chatBox {
    display: none;
    flex-direction: column;
    flex: 1;
    overflow-y: auto; /* Add a scrollbar if content overflows vertically */
    background-color: #efeae2;
}

#userPane {
    flex: 0 0 22%;/* Allow the height to adjust based on content */
    overflow-y: auto; /* Add a scrollbar if content overflows vertically */
    background-color: white;
}

#onlineUsers{
    flex: 0.5;
}

::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}
::-webkit-scrollbar-thumb, html[dir] .light ::-webkit-scrollbar-thumb {
    background-color: rgba(11,20,26,.2);
}

::-webkit-scrollbar-track, html[dir] .light ::-webkit-scrollbar-track {
    background: rgba(255,255,255,.1);
}

.list{
    display: flex;
    flex-direction: column;
    /* height: 72px; */
    pointer-events: all;
}

.chat{
    display: flex;
    flex-direction: row;
    height: 72px;
    pointer-events: all;
    justify-content: flex-start;
    align-items: center;
    /* border-bottom: 1px solid #d1d7db; */
    gap: 10PX;
    padding: 0PX 10PX;
}

.chatTypeHeader{
    display: flex;
    flex-direction: row;
    height: 72px;
    pointer-events: all;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #d1d7db;
    gap: 10PX;
    padding: 0PX 10PX;
    flex-wrap: wrap;
    background-color: #008069;
    color: #f0f2f5;
}

.chat:hover{
    background-color: #f5f6f6;
}
.chat::selection{
    background-color: red;
}
.chat.selected {
    background-color: #f0f2f5; /* Blue background color */
  }


.chatImg{
    width: 20px;
    border: 1px solid black;
    border-radius: 18px;
}

.chatNameSection{
    flex: 1;
    border-bottom: 1px solid #d1d7db;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
}

.unread{
    background-color: #25d366;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 0px 6.4px;
    color: white;
    text-align: center;
    font-size: small;
    padding-bottom: 1px;
    border-bottom: 1px solid #d1d7db;
}

#signUp {
    position: relative;
    top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.profile-picture{    
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    /* border: 1px solid grey; */
}
#previewImage{
    WIDTH: 40px;
    HEIGHT: 40px;
}

.inputBox{
    border: none;
    border-bottom: 2px solid #008069;
    background: #f0f2f5;
}
.inputBox:focus{
    outline: none;
    border-bottom: 3px solid #008069;
}

.createGroupinputBox{
    border: none;
    border-bottom: 2px solid #f0f2f5;
    background:  #008069;
    color: #f0f2f5;
}
.createGroupinputBox:focus{
    outline: none;
    border-bottom: 3px solid #f0f2f5;
}
.createGroupinputBox::placeholder {
    color: #f0f2f5; 
  }

.btn{
    background-color: #008069;
    color: white;
    width: 60px;
    height: 25px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

#createGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.grpbtn{
    background-color:#f0f2f5;
    color: #008069;
}

.time{
    font-size: 10.2px;
    color: #667781;
}

.tick{
    color:#53bdeb;
}

.timeTick{
    position: relative;
    padding: 0px;
    top: 4px;
    margin-left: 10px;
}

.senderName{
    color:#06cf9c;

}

#attachment{
    margin: 0 10px;
    color :#54656f;
}

.file{
    width: 330px;
    height: 253px;
}

.timeTickFile{
    position: absolute;
    padding: 0px;
    top: 243px;
    margin-left: 10px;
    left: 266px;
}

#filepreview{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(53px);
    z-index: 999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filePreviewFullScreen{
    width: 80%;
    height: 80%;
}

#previewOptions{
    position: absolute;
    left: 80%;
    top: 12%;
}

.hover-element {
    transition: transform 0.3s ease-in-out;
}
.hover-element:hover {
    transform: scale(1.2); 
}

.menuIcon{
    display: flex;
    margin-left: 15%;
}

.otherProfile-picture {
    width: 49px;
    height: 49px;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    border: 1px solid grey;
}